[submodule "VRMImporter"]
	path = VRMImporter
	url = https://github.com/kazu0617/VRMImporter
[submodule "DesktopToolShortcutRemapper"]
	path = DesktopToolShortcutRemapper
	url = https://github.com/kazu0617/DesktopToolShortcutRemapper
[submodule "NeosLNLRelayDisabler"]
	path = NeosLNLRelayDisabler
	url = https://github.com/kazu0617/NeosLNLRelayDisabler
[submodule "SessionTweaks"]
	path = SessionTweaks
	url = https://github.com/kazu0617/SessionTweaks
